* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800&display=swap");
body {
  height: 100vh;
  width: 100vw;
  background-color: #1f4172;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.row {
  text-align: center;
}
img#onOffImage {
  max-width: 450px;
  width: 100%;
  margin: 25px 0;
  overflow: hidden;
}
button#off {
  /* border: 2px solid #fff; */
  border: none;
  cursor: pointer;
  padding: 5px 35px;
  font-weight: 600;
  background-color: transparent;
  font-size: 14px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
button#on {
  /* border: 2px solid #fff; */
  border: none;
  padding: 5px 35px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: 600;
  background-color: transparent;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.img_wrapper {
  max-width: 450px;
  overflow: hidden;
  width: 100%;
}
h1 {
  color: #fff;
  font-size: 32px;
}
